[MASTER]
disable= wildcard-import,
 method-hidden,
 too-many-lines,
 missing-final-newline,
 missing-module-docstring,
 import-error,
 line-too-long,
 trailing-whitespace,
 invalid-name,
 consider-using-f-string,
 missing-function-docstring,
 redefined-outer-name,
 duplicate-code,
 wrong-import-order,
 missing-class-docstring,
 too-few-public-methods,
 trailing-newlines,
 too-many-branches,
 chained-comparison,
 too-many-locals,
 no-name-in-module,
 unspecified-encoding,
 possibly-used-before-assignment,
 undefined-variable,
 consider-using-sys-exit,
 dangerous-default-value,
 unused-import,
 too-many-statements,
 unused-argument,
 too-many-arguments